<div class="layout-row">
  <section class="layout-column align-items-center justify-content-center">
      <input type="text" data-test-id="app-input-name" required placeholder="Name" [(ngModel)] = "myForm.name" />
      <input type="text" data-test-id="app-input-genre" required placeholder="Genre" [(ngModel)] = "myForm.genre" />
      <input type="text" data-test-id="app-input-creator" required placeholder="Creator" [(ngModel)] = "myForm.creator"/>
      <form>
        <label><input class="radioButton" data-test-id="app-input-book-type" type="radio" name="type" value="Book" [(ngModel)]="myForm.type">Book</label>
        <label><input class="radioButton" data-test-id="app-input-song-type" type="radio" name="type" value="Song" [(ngModel)]="myForm.type">Song</label>
      </form>
      <input *ngIf="myForm.type ==='Song'" data-test-id="app-input-time" type="number" placeholder="Total Time" [(ngModel)]="myForm.totalTime"/>
  </section>
  <section class="layout-row justify-content-center align-items-center">
      <button data-test-id="add-button" class="w-30" (click)="add()">Add</button>
  </section>
</div>

